@model TL4_SHOP.Data.TaoTaiKhoan

@{
    ViewData["Title"] = "Xóa tài khoản nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_Layout.cshtml";
}

<h4>Xóa tài khoản nhân viên</h4>

<h4 class="text-danger fw-bold">Bạn có chắc chắn muốn xóa khách hàng này?</h4>

<div class="card">
    <div class="card-body">
        <div class="col-md-6">
            <dl class="row g-3">
                <dt class="col-sm-2">Mã KH</dt>
                <dd class="col-sm-10">@Model.TaiKhoanId</dd>

                <dt class="col-sm-2">Họ tên</dt>
                <dd class="col-sm-10">@Model.HoTen</dd>

                <dt class="col-sm-2">Email</dt>
                <dd class="col-sm-10">@Model.Email</dd>

                <dt class="col-sm-2">Phone</dt>
                <dd class="col-sm-10">@Model.Phone</dd>

                <dt class="col-sm-2">Loại tài khoản</dt>
                <dd class="col-sm-10">@Model.LoaiTaiKhoan</dd>

                <dt class="col-sm-2">Vai trò</dt>
                <dd class="col-sm-10">@Model.VaiTro</dd>
            </dl>
        </div>
    </div>
</div>
<div class="mt-4 d-flex gap-2">
    <form asp-action="Delete">
        <input type="hidden" asp-for="TaiKhoanId" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
